@import "../custom-bootstrap";
@import "../fonts.scss";
@import "../footer.scss";
@import "../intranet/left-block";

html {
  min-height: 100%;
}

body {
  font-family: $font-app;
  font-size: 17px;
  background: #efefef;
  line-height: 20px;
}

.head-portal {
  background: $bg-header;
  height: 89px;
}

.head-portal .portal-logo {
  margin-top: 10px;
  margin-left: 10px;
}

.portal-menu {
  padding: 0;
}

@media(max-width: 441px) {
  .navbar-brand img {
    width: 200px;
    height: 50px;
  }
}

/********* Left Block **********/
#sidebar {
  font-size: 23px;
  line-height: 32px;
}

#sidebar h3 {
  color: #DD5900;
}
#left-block-toggle {
  background: #76C0FF;
  margin-left: 40px;
}
#profile {
  padding: 5px;
}
.navbar-toggle .icon-bar {
  background: #ffffff;
}

/*********** content *****************/
.content-inner {
  background: #ffffff;
}

.start-content {
  margin-top: 20px;
}

.page-title {
  color: #dd5900;
  font-size: 30px;
  padding: 13px 0 0 10px;
  text-transform: uppercase;
  font-family: $bold-font;
}

.page-subtitle {
  color: #000;
  font-size: 14px;
  display: block;
  line-height: 36px;
}

h3[data-toggle="collapse"]:after {
  content: ' ';
  background: url(../../img/portal/menu-arrow.png);
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

h3[data-toggle="collapse"].collapsed:after {
  background: url(../../img/portal/menu-arrow-down.png);
}

/// Menu
@media (min-width: 768px) {
  .navbar-toggle {
    display: block;
    float: right;
  }
  .custom .collapse.navbar-collapse {
    display: none !important;
    visibility: hidden !important;
  }
  .custom .collapse.navbar-collapse.in {
    display: block !important;
    visibility: visible !important;
  }
  .navbar-header {
    float: none;
  }
}

@media (min-width: 992px) {
  .custom .collapse.navbar-collapse {
    display: block !important;
    visibility: visible !important;
  }
  .navbar-header {
    float: left;
  }
  .navbar-toggle {
    display: none;
  }
}
////  end menu


@media (max-width: 1067px) {
  .navbar-brand {
    width: 250px;
  }
}

@media (max-width: 991px) {
  #profile {
    display: none;
    position: absolute;
    left: 0;
    z-index: 2;
    width: 33.3%;
    background: #efefef;
    border-right: 1px solid #dbdbdb;
  }
}
@media(max-width: 768px) {
  #profile {
    display: block;
    position: relative;
    width: 100%;
    border: none;
  }
}