$orange-color: #DD5900;
$menucolor: #FFFFFF;
$bg-header: url('../../img/portal/header-back.png') repeat;
$bg-footer: url('../../img/background.png');
$sprites: url('../../img/portal/sprites.png');
$intranet-header-bg: #dbdbdb;
$body-bg: #EFEFEF;
$bold-font: MyriadPro-Bold;
$font-app: MyriadPro-Cond;