@import "../variables";

$grey-color: #e7e7e7;

.nav-stacked>li+li {
  margin-top: 0;
}

.no-padding {
  padding: 0;
}

.top-block {
  min-height: 260px;
  background-image: url(../../img/header-small.jpg);
  background-size: cover;
  background-repeat: round;
}

#sectionpanel {
  color: #000;
  font-size: 17px;
  padding: 5px;
  min-height: 150px;
  margin: 80px auto;
  border: 2px solid #f1f1f1;
  line-height: 20px;
  box-shadow: 0 0 12px 3px #f1f1f1;
}

.company > img {
  margin-right: 10px;
}

.nav-pills > li.active>a, .nav-pills > li.active>a:hover, .nav-pills > li.active>a:focus{
  background: transparent;
  color: #4D4D4D;
}
.nav-pills > li>a:hover, .nav-pills > li>a:focus {
  background: transparent;
  color: inherit;
}
.nav-stacked  > li.active > a {
  color: #4D4D4D;
}
.nav-pills > li.active {
  background: $grey-color;
}
.nav-pills > li {
  font-size: 22px;
  font-weight: 300;
  background: none;
  border-bottom: 3px solid #efefef;
  height: auto;
  padding: 20px 15px 15px;
  position: relative;
  color: #dd5900;
  cursor: pointer;
  text-align: center;
}
.nav-stacked > li > a {
  color: $orange-color;
  font-family: $bold-font;
  font-style: italic;
  font-size: 22px;
  line-height: 20px;
}

.tab-pane {
  background: $grey-color;
  padding: 45px 20px 15px 30px;
}

.tab-pane h3 {
  color: #dd5900;
  font-size: 20px;
  font-weight: 300;
  margin: 2px 0 10px;
  padding: 0;
}

.get-post{
  display: block;
  font-size: 20px;
  line-height: 21px;
}
.tab-pane strong {
  display: block;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 21px;
}
#email-subscribe {
  text-align: center;
}
#email-subscribe p {
  font-size: 24px;
  line-height: 33px;
  border-bottom: 3px solid #f3f3f3;
  padding-bottom: 10px;
  width: 90%;
  margin: auto;
}
#email-subscribe input[type=text] {
  width: 400px;
}
#email-subscribe input {
  height: 30px;
  border: 1px solid #979797;
  display: inline-block;
}
#email-subscribe input[type=submit] {
  background: #bfbfbf;
  float: none;
  left: -1px;
  position: relative;
  top: 6px;
  color: #000;
}

//company
#profiles {
  height: 100%;
}
#profiles .thumbs:nth-child(4n+1) {
  margin-left: 0;
}
#profiles .thumbs {
  cursor: pointer;
  height: 180px;
  width: 150px;
  float: left;
  position: relative;
  margin-bottom: 20px;
  margin-left: 70px;
  text-align: center;
}
#profiles .thumbs strong {
  color: $orange-color;
  margin-bottom: 0;
}
#profiles .thumbs:hover .imgs:before {
  content: " ";
  position: absolute;
  background: rgba(255,89,0,.35);
  height: 120px;
  width: 100px;
}
.imgs {
  margin-bottom: 5px;
}
ul {
  list-style: none;
}

@media(max-width: 505px) {
  .top-block {
    min-height: 170px;
  }
}