
.form-title {
  width: 100%;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  border-bottom: 1px solid #e5e5e5;
}
#submit {
  background: #cccccc;
  float: right;
  margin-top: 40px;
  color: #000000;
  height: 45px;
}