.box h2, .box h1 {
  color: #c6c5c5;
  font-size: 47px;
  margin: 0 0 5px 0;
  font-family: "MyriadPro-Bold";
}
.box {
  border: 4px solid #c1c1c1;
  padding: 25px 30px;
}

h3 {
  color: #3e83b1;
  font-size: 23px;
}