@media screen and (max-width: 705px) {
  table#miyazaki caption { background-image: none; }
  table#miyazaki thead { display: none; }
  table#miyazaki tbody td {
    display: block; padding: .6rem;
    p {
      display: inline;
      padding-left: 25px;
    }
  }
  table#miyazaki tbody tr td:first-child {
    background: #666; color: #fff;
  }
  table#miyazaki tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 6rem;
  }
}

.event-participant a{
  padding: 5px;
}