@import "./../variables";

.left-block {
  background: $body-bg;
  display: table-cell;
  line-height: 32px;
  font-size: 19px;
}
.img-circle {
  background: #ccc;
  border-radius: 70px;
  margin: auto;
  width: 140px;
  height: 140px;
  overflow: hidden;
}
.img-circle, .img-upload {
  img {
    width: 100%;
  }
}

#sidebar {
  font-size: 23px;
  line-height: 32px;
}

#sidebar h3 {
  color: #DD5900;
}
#left-block-toggle {
  background: #76C0FF;
  margin-left: 40px;
}
#profile {
  padding: 5px;
}
.navbar-toggle .icon-bar {
  background: #ffffff;
}
@media (max-width: 1200px) {
  #profile {
    display: none;
    position: absolute;
    left: 0;
    z-index: 5;
    width: 33.3%;
    background: #bab4b4;
    border-right: solid 1px $intranet-header-bg;
  }
}
@media (max-width: 1199px) {
  #left-block-toggle {
    display: block;
  }
}
@media (max-width: 555px) {
  #profile {
    width: 50%;
  }
}
@media (max-width: 400px) {
  #profile {
    width: 100%;
  }
}