@import "./../responsive-table";

.inputfile {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.new-item {
  padding: 10px;
}

@media (max-width: 767px) {
  .add-category {
    margin: 20px;
  }
}
