.add-participant {
  margin-bottom: 0;
}

#email, #booking {
  width: 50%;
}

.booking-participant {
  margin-top: 45px;
}

.alert-danger {
  margin-top: 30px;
}

.delshared, .sortable td a {
  cursor: pointer;
}

